body {
    padding: 88px 80px;
    background-color: #F5F4F0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.headline {
    color: #E1624F;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

h1 {
    margin: 8px 0 0 0;
    font-weight: bold;
    font-size: 36px;
}

.subtitle {
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-top: 24px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #D9D9D9;
}

section {
    margin-top: 40px;
}

img {
    width: 100%;
    border-radius: 28px;
}